In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv('funnel_df.csv')

In [3]:
df.head()

,user_id,date,device,sex,home_page,search_page,payment_page,payment_confirmation_page
0,450007,2015-02-28,Desktop,Female,1,0,0,0
1,756838,2015-01-13,Desktop,Male,1,0,0,0
2,568983,2015-04-09,Desktop,Male,1,1,0,0
3,190794,2015-02-18,Desktop,Female,1,1,0,0
4,537909,2015-01-15,Desktop,Male,1,0,0,0

In [4]:
df2 = df.apply(pd.value_counts)

In [5]:
df2.head()

,user_id,date,device,sex,home_page,search_page,payment_page,payment_confirmation_page
0,NaN,NaN,NaN,NaN,NaN,45200.0,84370.0,89948.0
1,NaN,NaN,NaN,NaN,90400.0,45200.0,6030.0,452.0
17,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
d = {'home_page':[90400], 'search_page':[45200], 'payment_page': [6030], 'payment_confirmation_page': [452]}
df3 = pd.DataFrame(data=d)

In [9]:
df3.head()

   home_page  search_page  payment_page  payment_confirmation_page
0      90400        45200          6030                        452

In [11]:
df_t = df3.T

In [12]:
df_t.head()

                               0
home_page                  90400
search_page                45200
payment_page                6030
payment_confirmation_page    452

In [17]:
df_t.to_csv("count.csv")